/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



body{
  background: linear-gradient(to left,rgb(0, 128, 119),rgba(255, 255, 255, 0.377));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 10px;
   width: 100%;
  color: rgb(255, 255, 255);
  background-image: url("https://images.unsplash.com/photo-1625225230517-7426c1be750c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGZvcm18ZW58MHx8MHx8&w=1000&q=80");
  background-size: 2100px;
  background-repeat: repeat-x;
  background-position: horizontal;
}
div{
  text-align: center;
  padding-top: 20px;
}



submit{
  background-color: rgb(106, 0, 255);
}

input{
  font-size: large;
  size: 80px;
  height: 50px;
  width: 400px;
  margin: auto;
  border-color: rgb(2, 2, 14);
  border-style: double;
  box-shadow: 20px;
  border-radius: 20px;
  background-color: rgba(240, 249, 255, 0.726);
  font-weight: 700;
 
}

#Department select{
  width: 400px;
  height: 4opx;
}
button{
        background-color: rgb(0, 81, 255);
        font-size: large;
        font-weight:bold;
        height: 40px;
        width: 200px;
       border-radius: 20px;
       background-image: url("https://wallpaperaccess.com/full/3637700.jpg");
}
.form{
  width: 250px;
  height: 300px;
  background-attachment: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  
  opacity: 0.5;
  border-radius: 8% ;
} 
label{
  font-size: x-large;
  text-align: center;
  font-weight: 600;
  background-color: grey;
  }
  select{
    font-size: large;
    size: 20px;
    height: 50px;
    width: 400px;
    margin: auto;
    border-color: rgb(2, 2, 14);
    border-style: double;
    box-shadow: 20px;
    border-radius: 20px;
    background-color: rgba(240, 249, 255, 0.726);
    font-weight: 300;
    
  }